html,
body,
#root {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.halp-app {
  height: 100%;
}

.halp-map {
  height: 100%;
  width: 100%;
}

.halp-sidebar,
.halp-list--search.fixed {
  z-index: 2;
  top: 1em;
  left: 1em;
  background: rgba(255, 255, 255, 0.95);
  padding: 0 1em;
  max-width: 400px;
  width: 100%;
}

.halp-sidebar {
  position: absolute;
  overflow: auto;
  height: 100%;
  height: calc(100% - 2em);
  min-height: 260px;
  scroll-behavior: smooth;
}

#search {
  margin-bottom: 0;
}

.halp-list {
  position: relative;
}

.fixed {
  position: fixed;
}

@media screen and (max-width: 719px) and (min-aspect-ratio: 1/2) {
  .halp-sidebar {
    height: 50%;
    left: 0;
    top: 0;
  }

  .halp-sidebar h2,
  .halp-sidebar h3 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0.5em;
  }
}

.halp-form form,
.halp-form fieldset,
.halp-view .button {
  margin: 0;
}

.halp-list--item-link {
  margin-bottom: 0;
}

.halp-list--item-link + pre {
  margin-top: 0;
}

.view .halp-form {
  display: none;
}

.halp-view {
  display: none;
}

.view .halp-view {
  display: block;
}

#list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#list li {
  transition: background-color 200ms linear;
  padding: 1em;
  border: 1px solid rgba(155, 77, 202, 1);

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

#list li:hover {
  cursor: pointer;
  background-color: rgba(155, 77, 202, 0.2);
}

#list li.active {
  background-color: rgba(155, 77, 202, 0.8);
}

#list li.active p,
#list li.active h3 {
  color: #FFFFFF;
}

#list li h3{
  margin: 0;
}

#list li input{
  width: 100%;
}

#list li.active a:not(.button-primary) {
  color: #FFFFFF;
}

#list li.active a:not(.button) {
  border-bottom: 1px solid #FFFFFF;
}

#list li.active a:not(.button-primary):hover {
  color: blue;
}

#list li.active a:not(.button):hover {
  border-bottom: 1px solid blue;
}
