<!DOCTYPE html>
  <div id="root">
    <div class="halp-sidebar">
      <div class="halp-form">
        <h2>Want to Help?</h2>
        <p>Here are some shelters and services with needs.</p>
        <p>Based on <a target="_blank" href="https://docs.google.com/spreadsheets/d/14GHRHQ_7cqVrj0B7HCTVE5EbfpNFMbSI9Gi8azQyn-k/edit#gid=1727856325">this crowd-sourced spreadsheet</a></p>
        <p><a href="http://houstonsheltermap.com">Find shelters here</a></p>
      </div>
      <div class="halp-view">
        <a class="button button-primary" href="/">Need Help?</a>
      </div>
      <div class="halp-list">
        <h2>Current Needs</h2>
        <ul id="list"></ul>
      </div>
    </div>
    <div class="halp-map" id="map"></div>
  </div>
